.container  {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 1rem;
}

.subContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 20rem;
  @media screen and (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.searchContainer  {
  display: flex;
  justify-content: center;
}

.title  {
  text-align: center;
  margin: 1rem;
}
