.container  {
  //background-color: yellowgreen;
  //background-image: linear-gradient(0deg, rgb(164, 211, 160) 0%, rgb(164, 211, 160) 22%,rgb(141, 190, 127) 22%, rgb(141, 190, 127) 61%,rgb(117, 169, 93) 61%, rgb(117, 169, 93) 68%,rgb(94, 147, 60) 68%, rgb(94, 147, 60) 92%,rgb(70, 126, 26) 92%, rgb(70, 126, 26) 100%),linear-gradient(135deg, rgb(164, 211, 160) 0%, rgb(164, 211, 160) 22%,rgb(141, 190, 127) 22%, rgb(141, 190, 127) 61%,rgb(117, 169, 93) 61%, rgb(117, 169, 93) 68%,rgb(94, 147, 60) 68%, rgb(94, 147, 60) 92%,rgb(70, 126, 26) 92%, rgb(70, 126, 26) 100%),linear-gradient(90deg, rgb(164, 211, 160) 0%, rgb(164, 211, 160) 22%,rgb(141, 190, 127) 22%, rgb(141, 190, 127) 61%,rgb(117, 169, 93) 61%, rgb(117, 169, 93) 68%,rgb(94, 147, 60) 68%, rgb(94, 147, 60) 92%,rgb(70, 126, 26) 92%, rgb(70, 126, 26) 100%),linear-gradient(90deg, rgb(255, 159, 173),rgb(82, 81, 20)); background-blend-mode:overlay,overlay,overlay,normal;
  background-image: linear-gradient(90deg, rgb(72, 72, 72),rgb(243, 243, 243)),linear-gradient(0deg, rgb(89, 116, 30) 0%, rgb(89, 116, 30) 16%,rgb(112, 136, 32) 16%, rgb(112, 136, 32) 63%,rgb(135, 156, 34) 63%, rgb(135, 156, 34) 66%,rgb(158, 175, 36) 66%, rgb(158, 175, 36) 71%,rgb(181, 195, 38) 71%, rgb(181, 195, 38) 90%,rgb(204, 215, 40) 90%, rgb(204, 215, 40) 100%),linear-gradient(67.5deg, rgb(89, 116, 30) 0%, rgb(89, 116, 30) 16%,rgb(112, 136, 32) 16%, rgb(112, 136, 32) 63%,rgb(135, 156, 34) 63%, rgb(135, 156, 34) 66%,rgb(158, 175, 36) 66%, rgb(158, 175, 36) 71%,rgb(181, 195, 38) 71%, rgb(181, 195, 38) 90%,rgb(204, 215, 40) 90%, rgb(204, 215, 40) 100%),linear-gradient(157.5deg, rgb(89, 116, 30) 0%, rgb(89, 116, 30) 16%,rgb(112, 136, 32) 16%, rgb(112, 136, 32) 63%,rgb(135, 156, 34) 63%, rgb(135, 156, 34) 66%,rgb(158, 175, 36) 66%, rgb(158, 175, 36) 71%,rgb(181, 195, 38) 71%, rgb(181, 195, 38) 90%,rgb(204, 215, 40) 90%, rgb(204, 215, 40) 100%); background-blend-mode:overlay, overlay, overlay, normal;
  display: grid;
  border-radius: 10px;
  padding: 0.5rem;
}

.subContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: .5rem;
  @media (max-width: 766px) {
    grid-template-columns: 1fr;
  }
}

.button {
  padding: 0.5rem;
  border-radius: 10px;
  align-self: center;
  width: 40%;
  margin: .5rem auto;
  grid-row-start: 1/2;
  grid-row-end: 2/2;
}

.icons {
  align-self: center;
  margin: 0 auto;
}

.title {
  text-align: center;
}
