.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    transition: .5s;
    opacity: 0;
}

.contentContainer {

}

.modalActive {
    opacity: 1;
    pointer-events: all;
}

