.container  {
  display: flex;
  background-color: rgba(199, 213, 103, 1);
  align-items: center;
  justify-content: center;

  @media (min-width: 767px) and (max-width: 1199px) {

  }
  @media (min-width: 1200px) {

  }
  @media (max-width: 766px) {
    position: sticky;
    width: 100%;
    top: 0;
  }
}
