.container  {
  display: flex;
  background-image: repeating-linear-gradient(0deg, rgb(163, 163, 163) 0px, rgb(163, 163, 163) 1px,transparent 1px, transparent 21px),repeating-linear-gradient(90deg, rgb(163, 163, 163) 0px, rgb(163, 163, 163) 1px,transparent 1px, transparent 21px),linear-gradient(90deg, hsl(334,0%,62%),hsl(334,0%,62%));
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @media (min-width: 767px) and (max-width: 1199px) {

  }
  @media (min-width: 1200px) {

  }
  @media (max-width: 766px) {
    position: sticky;
    width: 100%;
    top: 0;
  }
}
